.knowledge {
  background-color: #25262a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.what-i-know .what-im-studying {
  background-color: #25262a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.what-i-know p {
  color: #feffff;
  align-items: center;
  font-size: 28px;
}

.languages-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.language-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.language-card img {
  width: 52px;
  margin: 20px 10px;
  transition: 0.3s;
  z-index: 3;
}

.language-card img:hover {
  transform: scale(1.5) rotate(5deg)
}

.language-card img:active {
  transform: scale(1) rotate(180deg);
}

.language-card p {
  font-style: italic;
  position: absolute;
  margin: 0;
  text-align: center;
  opacity: 0;
  z-index: 2;
  transition: 1s;
}

.language-card:hover p{
  transform: translateY(-200%);
  opacity: 1;
  transition: 1s;
}